.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.access-header {
    color: #172339;
    border: 1px solid #172339;
    background-color: transparent;
    padding: 15px;
    border-radius: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}

.hero-tablet {
    display: none;
}

.second-btn {
    background-color: #172339;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 2.25em;
}

.info-div,.companies,.languages,.leads {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.company-title,.language-title,.lead-title {
    font-size: 42px;
}

.companies-txt,.languages-txt,.leads-txt {
    font-size: 25px;
}

.lower {
    background-color: #172339;
    color: #fff;
    border-radius: 10px;
    margin-top: 19em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

.jeremy-desktop {
    display: none;
}

.lower img {
    position: relative;
    bottom: 15em;
}

.works {
    font-size: 42px;
}

.works span {
    font-weight: bold;
}

.lower-txt {
    width: 75%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social img {
    margin-right: 0.85em;
    padding-bottom: 1.3em;      
}

.copy {
    margin: 3em auto 3em auto;
}

@media (min-width: 768px) {
    .hero-mobile {
        display: none;
    }
    .hero-tablet {
        display: initial;
        position: absolute;
        right: 0.8em;

    }

    .title {
        position: relative;
        z-index: 50;
        top: 20vh;
        width: 90%;
        font-size: 65px;
    }

    .hero-tablet,.title {
        top: 25vh;
    }

    .info-div {
        margin-top: 45vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .para {
        position: relative;
        top: 28vh;
        width: 50%;
        font-size: 22px;
    }

    .second-btn {
        position: relative;
        top: 32vh;
    }

    footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media (min-width: 1440px) {
    .title {
        width: 35%;
    }

    .para {
        width: 25%;
    }

    .title {
        margin-left: 1.25em;
    }

    .para {
        margin-left: 3.5em;
    }

    .second-btn {
        margin-left: 5.5em;
    }

    .hero-tablet {
        right: 30vw;
    }

    .info-div {
        flex-direction: column;
        position: relative;
        right: -35vw;
        bottom: 60vh;
    }

    .lower {
        margin: 0;
        position: relative;
        bottom: 20vh;
        padding-bottom: -50px;
    }

    .second-btn:hover {
        background-color: #A060FF;
        color: #fff;
        cursor: pointer;
    }

    .jeremy-mobile {
        display: none;
    }

    .jeremy-desktop {
        display: initial;
        position: relative;
        right: 17em;
        width: 60%;
    }

    .works {
        position: relative;
        left: 10em;
        bottom: 27em;
        font-size: 50px;
    }

    .lower-txt {
        font-size: 25px;
        width: 30%;
        position: relative;
        bottom: 110vh;
        left: 34vw;
    }

    .name,.corporate-title {
        text-transform: uppercase;
        font-size: 25px;
        position: relative;
        bottom: 105vh;
        left: 32vw;
    }

    .corporate-title {
        bottom: 108vh;
    }
}